PWNAGOTCHI_CONFIG=/etc/pwnagotchi/config.toml
PWNAGOTCHI_HANDSHAKES_DIR=/root/handshakes
PWNAGOTCHI_SERVICE_NAME=pwnagotchi
BETTERCAP_API_URL=http://127.0.0.1:8081/api
BETTERCAP_USERNAME=pwnagotchi
BETTERCAP_PASSWORD=pwnagotchi
